# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=hgUCxHpfCjZLxFAwrRIausOjwvKqlmgL
CELERY_FLOWER_PASSWORD=lBBHqemZWQjfuu6GMhiVIwQC6kdGwGtJJ7KHdBzRtpv9Ki7zzD9fu4ZDRJutoMsN
