# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=riso
POSTGRES_USER=dvTvIJBOFyRrhEwjeLoDftQYOhXhLdoX
POSTGRES_PASSWORD=K2B1MwhQOQcGIMiyK4ZbpYYVblMjPfu8Z4nLY3dgZmfDUgRPEvSxUTzUGpnC4rlg
